<h1>Book-My-House</h1>
<p><%= link_to 'Book the house!', new_booking_path %></p>
<p>...or check whether the house is booked already:</p>

<%= form_for :booking, url: query_path, remote: true do |f| %>
  <%= f.date_select :day %>
  <%= f.submit 'Check' %>
<% end %>

<div id='booked-result'></div>

<div class='bookings'>
  <%= render @bookings %>
</div>
